body {
    margin: 0;
}

.global_margin {
    margin: 100px;
}

.global_table {
    width: 100%;
    text-align: left;
}

.global_table td {
    padding: 1em 0 1em 0;
}

#menu {
    background-color: #253a46;
    padding: 1em;
    font-size: 1em;
}

#menu a {
    color: #fff;
    padding: 0 2em 0 0;
}